{% extends "./base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/markdown-skin/desert.css' %}">
    <link rel="stylesheet" href="{% static 'css/markdown-style.css' %}">
{% endblock %}

{% block breadcrumb %}
    <div class="container text-center">
        <h2 class="breadcrumb-detail">{{ post.title }}</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb post-breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">首页</a></li>
                <li class="breadcrumb-item"><a href="{% url 'category' post.category_id %}">{{ post.category.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page"><p>{{ post.title }}</p></li>
            </ol>
        </nav>
    </div> 
{% endblock %}
{% block content %}
    <div class="post-message post-message-detail">
        <ul class="nav nav-pills">
            <li>
                <p class="nav-link">作者：
                    <a href="{% url 'author' post.owner_id %}">{{ post.owner.username }}</a>
                </p>
            </li>
            <li>
                <p class="nav-link">分类：
                <a href="{% url 'category' post.category.id %}">{{ post.category.name }}</a>
                </p>
            </li>
            <li>
                <p class="nav-link">标签：
                {% for tag in post.tag.all %} 
                    <a href="{% url 'tag' tag.id %}">{{ tag.name }}</a>
                {% endfor %}
                </p>
            </li>
            <li>
                <p class="nav-link">时间：{{ post.created_time|date }}</p>
            </li>

        </ul>
    </div>

    <div id="post-content">
        {% autoescape off %}
            {{ post.html }}
        {% endautoescape %}
    </div>

    {% include '../comment/block.html %}

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/prettify.js' %}" onload="PR.prettyPrint();"></script>
{% endblock%}
