<!-- 评论部分 -->
<hr/>

<div class="card shadow-div" >
  <div class="card-body">
    <h5 class="card-title">留 言 板</h5>
    <h6 class="card-subtitle mb-2 text-muted">留下你想对我说的话</h6>
    <form action="/comment/" method="post" class="form-group">
        {% csrf_token %}
        <input name="target" class="form-control" maxlength="200" type="hidden" value="{{ request.path }}" />
        {{ comment_form }}
        <input class="submit-btn" type="submit" class="form-control" value="提交评论" />
    </form>
  </div>
</div>
