{% load widget_tweaks %}

<!-- 评论部分 -->
<div>
    <div class="card shadow-div mt-5" >
        <div class="card-body">
            {% if request.user.username %}
                <form id="commentform" action="/comment/" method="post" class="new-commnet">
                    <a class="avatar">
                        <img src="{{ request.user.profile.avatar.url }}" class="rounded-circle">
                    </a>
                    {% csrf_token %}
                    <input name="target" class="form-control" maxlength="200" type="hidden" value="{{ request.path }}" />
                    <div class="content">
                        {% render_field comment_form.content class="form-control" placeholder=comment_form.content.help_text rows="4" %}

                        {% if comment_form.is_bound %}
                            {% if comment_form.content.errors %}
                                {% for error in field.errors %}
                                    <div class="invalid">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endif %}
                    </div> 
                    
                    <input class="submit-btn float-right" type="submit" class="form-control" value="提交评论" />
                </form>
            {% else %}
                <div class="my-auto text-center">
                    <p class="my-3"><a href="{% url 'login' %}">登录</a>后发表评论</p>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="comment-show">
        <div class="row comment-header">
            <h4 class="mb-0">{{ comment_list.count }} 评 论</h4>
        </div>
        <div class="comment-list">
            {% if not comment_list %}
                <div clss="no-comment">
                    <p style="margin: 30px 10px; font-weight: 600; ">还没有评论，快来抢沙发吧！！</p>
                </div>
            {% else %}
                <ul class="list-group">
                    {% for comment in comment_list %}
                        <li class="list-group-item">
                            <div>
                                <div class="row">
                                    <a class="avatar my-auto">
                                        <img class="rounded-circle" src="{{ comment.owner.profile.avatar.url }}">
                                    </a>
                                    <div class="my-auto ml-4">
                                        <p class="name"><span>{{ comment.owner.username }}</span></p>
                                        <p class="time"><span>{{ comment.created_time }}</span></p>
                                    </div>
                                </div>
                                <div>
                                    <p class=content>{{ comment.content }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
