/* Header */
.header-top {
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    margin: 3px 0px;
}
header nav a.logo {
    line-height: 50px;
    font-size: 2.0rem;
    padding: 0.5rem 0rem;
    color: #555;
    font-weight: 800;
}
header nav nav.post-element-nav {
    line-height: 50px;
    font-size: 1.2rem;
    margin-left: 180px;
    font-weight: 500;
}
header nav nav .active {
    color: #72c02c;
}
header nav nav a {
    color: #555;
}
header nav a.logo:hover{
    text-decoration:none;
    color: #555;
}
header nav nav a:hover {
    color: #72c02c;
}  
/* END */

/* Section */
section {
    background-color: #f7f7f7;
    padding: 80px 0px;
}
/* END */

/* SideBar */
.main {
    padding-top: 100px;
    padding-bottom: 20px;
    margin-bottom: 80px;
}
.main .right-side {
    padding: 0px 15px;
}
.main .right-side .border-left {
    border-left: 1px solid #eee;
    padding-bottom: 20px;
}
.main .right-side .inner {
    padding-left: 20px;
} 
.main .right-side .inner .title {
    color: #000;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 1.4rem;
    font-size: 1.25rem;
}
.main .inner .post-search {
    margin-bottom: 50px;
    margin-top: 20px;
}
.main .inner .post-search input {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 8px 18px;
    border: 1px solid #72c02c;
    border-right: 1px solid transparent;
}
.main .inner .post-search input:focus {
    box-shadow: None;
}
.main .inner .post-search .input-group .input-group-btn input {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 8px 10px 8px 3px;
    background-color: #72c02c;
    border: 1px solid #72c02c;
    color: #fff;
    border: 1px solid #72c02c;
}
.main .inner .post-search .input-group .input-group-btn input:hover {
    background-color: #8cd54a;
    border: 1px solid #8cd54a;
}
.main .inner .post-search button:focus {
    box-shadow: None;
}

.main .right-side .inner .side-bar {
    padding-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid #eee;
}
.main .right-side .inner .side-bar ul {
    padding-left: 10px;
}
.main .right-side .inner .side-bar li {
    list-style: none;
}
.main .right-side .inner .side-bar a {
    color: #777;
}
.main .right-side .inner .side-bar a:hover {
    color: #72c02c;
    text-decoration:none;
}
.main .right-side .inner .side-bar .tag {
    padding-left: 0px;
}
.main .right-side .inner .side-bar .tag li {
    margin-left: 5px;
    margin-bottom: 0.71rem;
    display: inline-block;
    box-sizing: border-box;
}
.main .right-side .inner .side-bar .tag a {
    padding: 0.3rem 1.1rem;
    background-color: #f7f7f7;
    border-radius: 50px;
}
.main .right-side .inner .side-bar .tag a:hover {
    background-color: #72c02c;
    color: #fff;
}
/* END */

/* Footer */
.footer {
    padding-top: 4.28571rem;
    padding-bottom: 4.28571rem;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
}
.footer a {
    color: #fff; 
}
.footer a:hover {
    text-decoration: underline;
}
.copyright-footer {
    padding: 1.4rem 0;
    color: rgba(255, 255, 255, 0.8);
    background-color: #111; 
    box-sizing: border-box;
}
/* END */

/* List */
.text-center {
    text-align: center;
}
.breadcrumb-list {
    color: #000;
    font-weight: 600;
}
.post-element {
    margin-bottom: 100px;
}
.post-element-date {
    color: #777;
    font-weight: 700;
    font-size: 14px;
    padding-bottom: 8px;
}
.post-element-title a {
    color: #000;
    font-weight:600;
    margin-bottom: 14px;
}
.post-element-title a:hover {
    text-decoration: none;
    color: #72c02c;
}
.post-element-desc {
    margin-bottom: 14px;
}
.post-element-desc p {
    color: #777;
    line-height: 1.7rem;
}
.post-link {
    color: #72c02c;
}
.post-link:hover {
    color: #72c02c;
}
.post-message {
    margin-top: 30px;
    padding: 13px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: block;
}
.post-message ul {
    font-size: 13px;
    list-style: none;
    color: #ddd;
}
.post-message li {
    color: #777;
    display: inline-block;
}
.post-message p {
    font-size: 13px;
    padding: 5px 40px 5px 0px;
    margin-bottom: 0px;
}
.post-message a {
    color: #777;
}
.post-message a:hover{
    color: #72c02c;
    text-decoration: none;
}
.no-post {
    margin: 30px; 
}
.post-page ul {
    list-style: None;
    margin-bottom: 14px;
    padding-left: 0px;
    text-align: center;
}
/* END */

/* Pagination */
.prev-page {
    float: left;
    display: inline-block;
}
.next-page {
    float: right;
    display: inline-block;
}
.turn-page {
    padding: 7px 16px;
    border-radius: 50px;
    color: #333;
    display: inline-block;
    text-align: center;
    border: solid 1px #ddd;
    transition: all .3s ease;
}
.turn-page:hover {
    color: #72c02c;
    border-color: #72c02c; 
    text-decoration: none;
}
.page-num {
    display: inline-block;
    margin-right: 5px;
}
.page-num a {
    padding: 7px 14px;
    border-radius: 50px;
    color: #333;
    border: solid 1px transparent;
    transition: all .3s ease;
    display: inline-block;
    text-align: center;           
}
.active a {
    background-color: #72c02c;
    color: #fff; 
} 
.page-num a:hover {
    border-color: #72c02c;
    text-decoration: None;
    color: #72c02c;
}
.active a:hover {
    text-decoration: None;
    color: #fff;
} 
/* END */

/* Detail */
.breadcrumb-detail {
    color: #000;
    font-weight: 600;
}
.post-breadcrumb {
    background-color: transparent;
    display: inline-flex;
    padding: 3px 16px;
}
.post-breadcrumb a {
    color: #999; 
}
.post-breadcrumb a:hover {
    color: #72c02c;
    text-decoration: None;
}
.post-breadcrumb p {
    color: #72c02c;
    display: inline-block;
}
.post-message-detail {
    margin-top: 0px;
}
/* END */

/* Link */
.block-link {
    margin: -40px 100px -10px 200px;
}
.block-link div {
    padding-bottom: 20px;
}
.block-link .link-title {
    font-weight: 500;
    position: relative;
    margin: 20px 0;
    font-size: 25px;
    color: #222;
    line-height: 35px;
}
.block-link .link-title:before {
    font-weight: 800;
    position: absolute;
    top: 0;
    left: -20px;
    content: '#';
    color: #72c02c;
}
.block-link ul{
    margin-top: 10px;
}
.block-link ul li {
    width: 32%;
}
.block-link ul li a {
    color: #555;
}
.block-link ul li a:hover {
    color: #72c02c;
}
.block-link .nav .invalid-link a {
    text-decoration: line-through;
}
.block-link p {
    color: #555;
}
/* END */

/* Write Comment */
.main .shadow-div {
    margin-top: 40px;
    box-shadow: 0px 10px 40px 0px rgba(47,47,47,0.1);
    border: 0px solid transparent;
}
.main .shadow-div .card-body {
    padding-bottom: 0px;
}
.main .card h5 {
    font-weight: 600;
    font-size: 25px;
}
.main .card form {
    margin: 20px 10px;
}
.main .card input {
    width: 60%;
    margin-bottom: 15px;
}
.main .card input:focus {
    box-shadow: 0 0 0 0.2rem #8cd54a5e;
    border-color: transparent;
}
.main .card textarea:focus {
    box-shadow: 0 0 0 0.2rem #8cd54a5e;
    border-color: transparent;
}
.main .card .submit-btn {
    border-width: 2px;
    border-style: solid;
    border-color: #72c02c;
    padding: 11px 33px;
    box-sizing: border-box;
    border-radius: 80px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    transition: all 120ms linear;
    margin: 30px 0px 20px 0px;
    cursor: pointer;
    width: 120px;
    box-shadow: None;
    background-color: #72c02c;
    color: #fff;
}
.main .card .submit-btn:hover {
    background-color: #fff;
    color: #72c02c;
    border-color: #72c02c;
}
.main .card .submit-btn:focus {
    background-color: #fff;
    color: #72c02c;
    border-color: #72c02c;
    box-shadow: None;
}
/* END */

/* Show Comment */
.main .comment-show {
    margin: 60px 10px 10px 10px;
}
.main .comment-header {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 5px;
    display: block;
    border-bottom: 1px solid #eee
}
.main .comment-header h3 {
    font-size: 43px;
    font-weight: 300;
    line-height: 1.2;
    color: #43414e;
    display: inline-block;
}
.main div .submit-turn {
    float: right;
    display: inline-block;
    line-height: 3;
    border: 1px solid #72c02c;
    border-radius: 50px;
    padding: 0px 40px;
    color: #72c02c;
    transition: all 120ms linear;
}
.main div .submit-turn:hover {
    background-color: #72c02c;
    color: #fff;
    text-decoration: None;
}
.main .comment-list li {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #eee;
    padding: 20px 10px;
}
.main .comment-list li div {
    margin-top: 15px;
}
.main .comment-list li a {
    font-size: 1.1rem;
    color: #6e7076;
    font-weight: 600;
}
.main .comment-list li a:hover{
    color: #72c02c;
    text-decoration: none;
}
.main .comment-list li span {
    color: #6e7076;
    margin-left: 25px;
    opacity: 0.7;
}
.main .comment-list li p {
    margin: 15px 10px;
    line-height: 1.8;
    color: #6e7076;
}
.main .comment-list ul li {
    width: 100%;
}
/* END */
