{% extends "../blog/header_base.html" %}
{% load static %}
{% load comment_tag %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/comment/base.css' %}">
{% endblock %}

{% block breadcrumb %}
    <div class="text-center">
        <img src="/media/blog/link.jpg" class="img-fluid" alt="Responsive image">
        <h1 class="breadcrumb-list">来看看我的小伙伴们</h1>    
    </div>
{% endblock %}

{% block main %}
    <div class="block-link">
        <div>
            <h2 class="link-title">Link</h2>
            <ul class="nav">
                {% for link in valid_links %}
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="{{ link.href}}">{{ link.title }}</a>
                </li>
                {% endfor %}  
            </ul>
        </div>
        <div>
            <h2 class="link-title">似乎消失了的小伙伴</h2>
            <ul class="nav">
            {% for link in invalid_links %}
                <li class="invalid-link"><a class="nav-link" target="_blank" href="{{ link.href }}">{{ link.title }}</a></li>
            {% endfor %}  
            </ul>
        </div>
        <div>
            <h2 class="link-title">友链申请</h2>
            <p>新人博客，欢迎大家交换友链</p>
        </div>

        {% comment_block %}

    </div>
{% endblock %}
