{% load static %}
<!doctype html>
<html lang="en">
    <head>
        {% block title %}
        {% endblock %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/account/sign.css' %}">
        <link rel="stylesheet" href="{% static 'css/fontawesome/fontawesome-all.css' %}">
        {% block style %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}

        {% block javascript %}
        {% endblock %}
    </body>
</html>
